<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<div class="container-full app">	
  <div class="region">
    <div class="regionTexto"><!-- Region --></div>
  </div>
  <div class="informacion_actualizada">
    <div class="texto_informacion_actualizada"><!-- Texto --> </div>
  </div>
  
  <div class="titulo_selector">
    <label>Selecciona el Mercado : </label>

    
    <div class="row">
      <div class="col">
      <select name="selector" id="mercado" class="selector_nuevo selector_mercado" autocomplete="off">
        <option value="seleccione">Seleccione</option>
    </select>
      </div>
    
    </div>

    
    
  </div>
  
  <div class="titulo_selector">
    <label>Selecciona el producto : </label>
   
    <select name="producto" id="producto" class="selector_nuevo" autocomplete="off">
      <option value="seleccione">Seleccione</option>
    </select>
  
  </div>
  <div id="preloader" style="text-align:center">
      <legend>Preloader</legend>
  </div>
  <div id="tabla">
  </div>
<hr class="linea-baja" />
<div class="alert mas_informacion">
  <!-- <a href="/precios/mayoristas-frutas-y-hortalizas" target="_self"> -->
  <a href="https://reportes.odepa.gob.cl/#/boletin-frutas-hortalizas" target="_self">
  Para mayor detalle haga CLICK AQUI
  </a>
  <span class="caret"></span>
</div>
</div>
<xmlParserComponent></xmlParserComponent>